ul, body, li{
    color: white;
    list-style: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 3vh;
    padding: 0px;
    margin: 0px;
}

h2{
    color: white;
    padding-left: 20px;
}
.menu{
    background-color: black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
     
}

.menu1{
    display: flex;
    align-items: center;
    padding: 20px;
}

.botao1{
    display: block;
    padding: 10px;
    background-color: #ffb200   ;
    text-align: center;
    width: 70px;
}

.botao2{
    margin-left: 100px;
    padding: 10px;
    background-color: #ffb200   ;
    width: 70px;
    text-align: center;
}

.botao3{
    margin-left: 100px;
    padding: 10px;
    text-align: center;
    background-color: #ffb200 ;
}

h2:hover
{
    font-size: 48px;
}

.menu1 li:hover
{
    color: coral;
}


@media (max-width: 600px) {

    h2{
        display: none;
    }
}


