*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul, body, li{
    color: white;
    list-style: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1em;

    }


body{
    background-color: rgb(252, 255, 100);
    
}

.introducao p{
    color: black;
}
body p{
    color: red;
    text-align: center;
    margin-top: 5%;
}
h2{
    color: white;
    padding: 20px;

}


.menu{
    background-color: coral;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
     
}

.menu1{
    display: flex;
    align-items: center;
    padding: 20px;
}

.botao1{
    display: block;
    padding: 2vh;
    background-color: #ffb200;
    text-align: center;
    margin-left: 100px;
}

.botao2{
    display: block;
    margin-left: 100px;
    padding: 2vh;
    background-color: #ffb200;
    text-align: center;
}

.botao3{
    display: block;
    margin-left: 100px;
    padding: 2vh;
    text-align: center;
    background-color: #ffb200 ;
    
}

h2:hover
{
    font-size: 2em;
}

.menu1 li:hover
{
    color: coral;
}

h1
{
    text-align: center;
    color: rgb(44, 121, 83);
    padding-top: 50px;
    
}


.bichos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
    text-align: center;
    padding: 20px;
}

.fotos{
    display: flex;
   justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
    align-items: center;
    width: 100%;
}

.fotos p{
    text-align: center;
    padding: 20px;
}

.gato1{
    width: 50vh;
    padding: 20px;
    }
    
 .gato2{
width: 50vh;
 
        
        
    }
    
.gato3{
    width: 50vh;
    height: 40vh;
   
    
}
    
.cao1{
        height: 50vh;
        margin-top: 15vh;
       
    }
    
.cao2{
        height: 60vh;
        margin-top: 15vh;
       
        
    }
    
.cao3{
        width: 50vh;
        height: 60vh;
        margin-top: 15vh;
       
        
    }
    
    .cao4{
        width: 50vh;
        height: 50vh; 
        margin-top: 15vh;
       
    }
    
    .cao5{
        width: 50vh;
        height: 50vh;
        margin-top: 15vh;
       
    
    }
    
    .cao6{
        width: 50vh;
        height: 50vh;
        margin-top: 15vh;
    
    }
    
 

    footer{
        background-color: coral;
        height: 2vh;
        padding: 5vh;
        font-size: 0.7em;
    }

    @media screen and (max-width: 600px){
        h2{
            display: none;
        }
    
        .menu1{
            display: flex;
            flex-direction: column;
            margin-left: 10vh;
            align-items: center;
            text-align: center;
        }
        
        .botao1, .botao2, .botao3{
            margin-top: 20px;
            width: 150%;
    
        }
    
        .gato2,.gato3,.cao1,.cao2,.cao3,.cao4,.cao5,.cao6{
            margin-top: 100px;
        }
    }
    
    